<div class="product__item ">
  <div class="product__item__pic set-bg " [ngStyle]="{ 'background': 'url('+ product.image +') no-repeat center center',
            'background-size': '80%' }">
    <div class="label new">New</div>
    <ul class="product__hover">
      <li>
        <a [routerLink]="['/shop', product.id]" class="image-popup">
          <span class="icon_search_alt"></span>
        </a>
      </li>
      <li>
        <a [href]="product.image" class="image-popup">
          <span class="arrow_expand"></span>
        </a>
      </li>
      <li>
        <a (click)="onAddToCart()" type="button">
          <span class="icon_cart_alt"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="product__item__text">
    <h6><a [routerLink]="['/shop', product.id]">{{product.title}}</a></h6>
    <div class="rating">
      <i class="fa fa-star" *ngIf="product.rating.rate > 0.5"></i>
      <i class="fa fa-star" *ngIf="product.rating.rate > 1.5"></i>
      <i class="fa fa-star" *ngIf="product.rating.rate > 2.5"></i>
      <i class="fa fa-star" *ngIf="product.rating.rate > 3.5"></i>
      <i class="fa fa-star" *ngIf="product.rating.rate > 4.5"></i>
      <span class="rating-count"> ( {{product.rating.count}} )</span>
    </div>
    <div class="product__price">$ {{product.price}}</div>
  </div>
</div>
