<div class="sidebar__filter">
  <div class="section-title">
    <h4>Shop by price</h4>
  </div>
  <div class="filter-range-wrap ">
    <div class="custom-slider">
      <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
    </div>
    <div class="range-slider">
      <div class="price-input mt-4">
        <p>Price: </p>
        <span> ${{minValue}} - </span>
        <span>${{maxValue}}</span>
      </div>
    </div>
  </div>
  <a type="button" (click)="onFilterByPrice(minValue, maxValue)">Filter</a>
</div>
