<section class="shop-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shop__cart__table">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="cart.items && !this.cargando">
              <tr *ngFor="let item of cart.items">
                <td class="cart__product__item">
                  <a [routerLink]="['/shop', item.product.id]">

                    <img [src]="item.product.image" [alt]="item.product.title" height="90px" width="90px">

                    <div class="cart__product__item__title">
                      <h6>{{item.product.title}}</h6>
                      <div class="rating">
                        <i class="fa fa-star" *ngIf="item.product.rating.rate > 0.5"></i>
                        <i class="fa fa-star" *ngIf="item.product.rating.rate > 1.5"></i>
                        <i class="fa fa-star" *ngIf="item.product.rating.rate > 2.5"></i>
                        <i class="fa fa-star" *ngIf="item.product.rating.rate > 3.5"></i>
                        <i class="fa fa-star" *ngIf="item.product.rating.rate > 4.5"></i>
                      </div>
                    </div>
                  </a>
                </td>
                <td class="cart__price">$ {{item.product.price | number: '1.1-2'}}</td>

                <td class="cart__quantity">
                  <div class="pro-qty">
                    <span (click)="onSubtractQuantity(item)" class="dec qtybtn">-</span>
                    <input type="number" [value]="item.quantity">
                    <span (click)="onAddQuantity(item)" class="inc qtybtn">+</span>
                  </div>
                  <!-- <div class="pro-qty">
                    <span type="button"  class="icon_minus-06"></span>
                    <input type="text" [value]="item.quantity">
                    <span type="button"  class="icon_plus"></span>
                  </div> -->
                </td>
                <td class="cart__total">$ {{item.product.price * item.quantity | number: '1.1-2'}}</td>
                <td class="cart__close"><span class="icon_close" (click)="removeItem(item)"></span></td>
              </tr>
            </tbody>
            <tbody *ngIf="this.cargando">
              <tr>
                <td colspan="5">
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!cart.items.length && !this.cargando">
              <tr>
                <td colspan="5">
                  <h6 class="coupon__link">Your cart is empty</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>



      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="cart__btn">
          <a routerLink="/shop">Continue Shopping</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="cart__btn update__btn">
          <a type="button" (click)="onClearAll()"><span class="icon_close"></span> Clear all</a>
          <a type="button" (click)="onUpdateCart()" style="margin-left: 10px;"><span class="icon_loading"></span> Update
            cart</a>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="discount__content">
          <h6>Discount codes</h6>
          <form action="#">
            <input disabled type="text" placeholder="Enter your coupon code">
            <button disabled type="submit" class="site-btn">Apply</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="cart__total__procced">
          <h6>Cart total</h6>
          <ul>
            <li>Subtotal <span>$ {{onGetTotal() | number: '1.1-2'}}</span></li>
            <li>Total <span>$ {{onGetTotal() | number: '1.1-2'}}</span></li>
          </ul>
          <a (click)="onCheckout()" type="button" class="primary-btn">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>
